.homeButton{
    width: 85px;
    height: 35px;
    background-color: white;
    border-radius: 15px;
    font-size: 22px;
    left: 80px;
    position: absolute;
    justify-content: center;
    transform: translateY(-40px);
    color: black;

    display: flex; /* Flexbox to align content */
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
    border: 1px solid black; /* Ensure border visibility */
    transform: translateY(-400px);
}
.homeButton:hover{
    background-color: rgb(167, 167, 167);
}
body{
    justify-items: center;
    transform: translateY(400px);
    background: rgb(2,0,36);
    color: white;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(4,64,0,1) 50%, rgba(0,128,0,1) 100%);
    
}
h1{
    transform: translateY(-30px);
    font-size: 50px;
}
.loader {
    width:30px;
    aspect-ratio: 1;
    background: #554236;
    display: grid;
    transform-origin: top right;
    animation: l6-0 1s infinite linear;
    
}
.loader::before,.loader::after {
    content: "";
    grid-area: 1/1;
    background: rgb(255, 255, 255);
    transform-origin: inherit;
    animation: inherit;
    animation-name: l6-1;
}
  .loader::after {
    background:#60B99A;
    --s:180deg;
}
  @keyframes l6-0 {
    70%,
    100% {transform: rotate(360deg)}
}
  @keyframes l6-1 {
    30% {transform: rotate(var(--s,90deg))}
    70% {transform: rotate(0)}
}
  